@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap');
:root {
    --blue: #0065FC;
    --lightgrey: #F2F2F2;
    --lightblue: #DEEBFF;
}

body {
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Raleway", 'sans-serif';
    margin: 0;
}

figure {
    margin: 0;
    padding: 0;
}

main,
header {
    max-width: 1400px;
    margin: 0 auto;
}


/* Eléments principaux de la page */

h1,
h2,
h3,
h4,
a {
    font-family: Raleway;
    font-weight: bold;
}
/* HEADER */

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}
a {
    text-decoration: none;
}
nav a {
    padding: 2rem;
    border-top: 3px solid transparent;
    font-size: 1.3rem;
}
nav a:hover {
    border-top-color: #0065FC;
}
#logo {
    height: 55px;
    margin-right:auto;
    cursor: pointer;
}
.sub-nav {
    display: flex;
}
.nav-activity {
    color:  #000;
}
@media (max-width: 600px) {
    .sub-nav {
        order: 1;
        flex-basis: 100%;
    }
    .sub-nav a {
        flex-basis: 50%;
        text-align: center;
    }
    .sub-nav a:hover {
        border-bottom: 3px solid blue;
        border-top-color: transparent;
    }
}

/* SECTION SEARCH AND FILTERS */
#main{
    max-width: 1400px;
    margin: 0 auto;
}
.search-title {
    font-size: 1.5rem;
}
.search-info {
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

/*  SEARCH FORM  */

.search-icon {
    display: flex;
    margin: 1rem 0 2rem 0;
}

.search-icon i {
    padding: 1rem 1.2rem;
    background-color: lightgrey;
    border-radius: 1rem 0 0 1rem;
}

.search-icon input {
    flex-basis: 12rem;
    border: 1px solid lightgrey;
    border-left: none;
    border-right: none;
    padding: 15px;
}

.search-icon input::placeholder {
    font-size: 1.2rem;
    font-weight: bold;
}

.search-icon button {
    background-color: blue;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 0 1rem 1rem 0;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    width: 10rem;
}

.search-icon button:hover {
    opacity: 1;
    transform: scale(1.05);
}

.fas.fa-search {
    display: none;
}

@media (max-width: 600px) {
    .search-word {
        display: none;
    }
    .fas.fa-search {
        display: inline;
        color: white;
        background-color: #0065FC;
        padding: 16px;
        border-radius: 18px;
        position: relative;
        right: -20px;
    }
    .search-icon button {
        background-color: white;
    }
}


/* Mise en forme des filtres*/
.filters-title {
    font-weight: bold;
    font-size: 1.3rem;
}
.filter {
    border: 2px solid lightgrey;
    border-radius: 2.5rem;
    display: flex;
    transition: all 400ms ease-in-out;
    font-size: 1.2rem;
    height: 3rem;
    align-items: center;
}

.filters {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.filter .fas {
    color: blue;
    background-color: #DEEBFF;
    padding: 1rem;
    border-radius: 50%;
    margin: -2px;
    width: 1.2rem;
    height: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter span {
    font-weight: bold;
    padding: 1rem;
}

.filter:hover {
    background-color: blue;
    transform: scale(1.03);
}


/*  MESSAGERESULT */

.message-result {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.message-result .fas {
    width: 2rem;
    height: 2rem;
    border: 1px solid darkgray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
}
@media (max-width: 600px){
    #main {
        margin-left: 3rem; 
    }
    html {
        font-size: 1.3rem;
    }
    #logo {
        height: 4rem;
    }
    .search-icon {
        margin-top: 2.5rem;
    }
     .filters-title {
         margin-right: 20rem;
         margin-bottom: -0.1rem;
     }
     .filters {
          margin-top: -1.5rem;
     }
     .search-title {
         font-size: 1.6rem;
         margin-right: 1.8rem;
     }     
}
@media (min-width: 601px) and (max-width: 1024px) {
    body {
        
    }
}
/* HEBERGEMENTS MARSEILLE */
#lodging {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    gap:2rem;
}
.Marseille-lodging .stars {
    color: #0065FC;
    font-size: 0.8rem;
    margin-top: 5px;
}
#lodging h3 {
    font-size: 1.1rem;
    margin: 0px;
}
#lodging span{
    font-size: 1rem;
}
.Marseille-lodging {
    background-color: #F2F2F2;
    border-radius: 1.5rem;
    padding:  0 0.5rem;
}
.Marseille-lodging {
    flex-basis: 68%;
}
.popular {
    flex-basis: 32%;
}
.Marseille-title {
    margin: 2rem 0 0 2rem;
}
.Marseille-lodging a {
    text-decoration: none;
    transform-origin: 50% 50%;
    transition: transform 0.1s linear;
    color:black;
}
.Marseille-lodging a:hover {
    transform: scale(1.03) rotate(0.2deg);
}
.city-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 210px 210px ;
    gap: 2rem;
    background: #F2F2F2;
    border-radius: 15px;
    padding: 1.5rem;

}

/* STYLES OF CARDS */
.Marseille-lodging .cards {
    color: black;
    background-color: white;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
    transition-duration: 0.1s;
    cursor: pointer;
    box-sizing: border-box;
    height: 13rem;
}
.Marseille-lodging .image {
    height: 7.5rem; 
    width: 100%;
    padding: 0.3rem;
}
.cards {
    margin: 0;
    width:15.5rem;
}

.Marseille-lodging .image-info {
    height: 5rem;
    margin: 0.5rem 1rem;
    font-weight: normal;
}
.Marseille-lodging img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 7.5rem;
    object-fit: cover;
    max-width: 100%;
    width: 96%;
    max-height: 100%;

}
.stars .grey {    
    color: #F2F2F2;
}

.Marseille-lodging .info-plus {
    color: black;
    font-size: 1.2rem;
    margin-left: 30px;
    text-decoration: none;
}

/* POPULAR */

.aside-title { 
    align-items: center;
    display:flex;
    justify-content: space-between;
    margin:  1rem 2rem 0.3rem 1.2rem;
    padding: 0px;
}
.popular {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    padding: 15px;
    border-radius: 15px;
}
.popular .card {
    background-color: white;
    border-radius: 25px;
    display: flex;
    color: black;
    transform-origin: 50% 50%;
    transition: transform 0.1s linear;
    filter: drop-shadow(0 0 4px #CCC);
    height: 9rem;
    margin: 1.2rem;
    width: auto;
}
.popular img {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border: 2px solid white;
    align-items: center;
    height: 135px;
    width: 160px;
    object-fit: cover;
}
.card-img {
    padding: 0.2rem;
}
.popular a:hover {
    color: black;
    text-decoration: none;
    transform: scale(1.02) rotate(0.1deg);
}
.img-description {
    margin: 1rem;
    font-weight: normal;
}
.popular .stars {
    margin-top: 2.2rem;
    color: blue;
    font-size: 0.8rem;
}

@media (max-width: 600px) {
    .Marseille-lodging {
       display: grid;
       grid-columns: 1fr;
    }
    .popular {
        order: -1;
    }
}
@media (min-width: 501px) and (max-width: 1000px){

}